header,
nav,
main {
  max-width: 1240px;
  margin: auto;
  width: 100%;
}

#navWrapper {
  background-color: lighten($primaryColor, 40%);
}
nav {
  visibility: visible;
  display: flex;
  justify-content: right;

  ul {
    align-items: center;
    padding: 10;
    margin: 10;
  } //end of ul

  ul li a {
    border: none;
  }
}
/* NAVIGATION STUFF GOES HERE  */

nav ul li a {
  padding: 0.6rem 2rem;
  font-size: 0.8rem;
}

.hamBtn {
  display: none;
}

nav {
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    padding: 10;
    margin: 10;
  } //end of ul
}

.allCards {
  section {
    flex-basis: calc(31% - ($gutter / 3));
    flex-wrap: wrap;
  }
}

footer div {
  display: grid;
  grid-template-columns: auto auto auto;
}
