/* NAVIGATION STUFF GOES HERE  */

.allCards {
  display: flex;
  flex-wrap: wrap;
  section {
    flex-basis: calc(45% - ($gutter/2));
  }
}

footer div {
  display: grid;
  grid-template-columns: auto auto;
}
